* {
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  line-height: 1.35;
  font-family: $font-family;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}

p {
  font-size: 1.6rem;
}
