.showpage {
  &-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &-content {
    padding: 2rem;
    height: calc(100vh - 6rem);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    h2 {
      margin: 0;
      font-size: 3rem;
      font-weight: 300;
    }
  }

  &-season {
    &-charts {
      padding-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
      grid-gap: 2rem;
    }
  }
}
