.topbar {
  &-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 2rem;
    background-color: $grey-dark;
    padding: 1rem 3rem;
  }

  &-title {
    h1 {
      margin: 0;
      font-size: 2.5rem;
      color: white;
      font-weight: 600;
      font-family: Courier New, Courier, monospace;

      &:hover {
        background-color: lighten($grey-dark, 20%);
      }
    }
  }

  &-search {
    position: relative;
    input {
      width: 100%;
      color: white;
      font-size: 2rem;
      font-weight: 100;
      background-color: transparent;

      &::placeholder {
        color: white;
      }
    }

    .search-query-results {
      display: none;
      background-color: white;
      position: absolute;
      width: 100%;
      padding: 1rem;
      border: solid 3px $grey-light;
      border-top: none;

      &.visible {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      }

      .no-result {
        font-size: 2rem;
      }

      .results-actions {
        padding: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
}

.result {
  padding: 1rem 0;
  border-bottom: 1px solid $grey-light;
  display: grid;
  grid-template-columns: auto 1fr;

  &:last-child {
    border-bottom: none;
  }

  &-image {
    img {
      width: 180px;
    }
  }

  &-details {
    padding: 1rem 2rem;
  }

  &-title {
    font-size: 2rem;
  }

  &-year {
    font-size: 1.6rem;
  }

  &-view {
    padding-top: 3rem;
  }
}
